{#
/**
* @file
* Template file for displaying a spotify artist.
*
* Available variables:
 * - popularity: The Spotify popularity rating.
 * - followers: The number of spotify followers for the artist.
 * - genres: List of genres for the artist.
*/
#}
<h3>Popularity</h3>{{ popularity }}
<h3>Followers</h3>{{ followers }}
{{ genres }}
<br/><a href="{{ spotify_uri }}">{{ "View in Spotify"|trans }}</a>
